.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./bus.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
.lContainer {
  margin-top: -400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 250px;
  width: 400px;
  background-color: #f6ce96;
  padding: 20px 20px;
  border-radius: 20px;
  padding-bottom: 30px;
}
.logins
{
  font-size: 20px;
  align-self: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: none;
  background-color: #c1b8be;
  padding: 10px;
  border-radius: 30px;
  color: black;

} 
.lInput {
  height: 40px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #4a94e9;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin-top: -2px;
}

.lButton:disabled {
  background-color: #0071c28c;
  cursor: not-allowed;
}
